@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@100&family=Roboto+Mono:wght@100&display=swap');
/* 
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace; */




html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Mono', monospace;
}
/* heaedr start */
header{
    background-image: url("../img/banner-photo.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    padding: 1% 10%;
    background-color: rgba(0,0,0,0.3);
}
.banner-container{
    height: 100vh;
}
/* heaedr end */